@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-340{
	-ibooks-line-hints: textShape-340 p url(../hints/content8-paginated.plist) 72 2;
}
#textShape-335{
	-ibooks-line-hints: textShape-335 p url(../hints/content8-paginated.plist) 62 2;
}
#textShape-342{
	-ibooks-line-hints: textShape-342 p url(../hints/content8-paginated.plist) 76 2;
}
#textShape-328{
	-ibooks-line-hints: textShape-328 p url(../hints/content8-paginated.plist) 48 2;
}
#textShape-351{
	-ibooks-line-hints: textShape-351 p url(../hints/content8-paginated.plist) 94 2;
}
#textShape-337{
	-ibooks-line-hints: textShape-337 p url(../hints/content8-paginated.plist) 66 2;
}
#textShape-319{
	-ibooks-line-hints: textShape-319 p url(../hints/content8-paginated.plist) 30 2;
}
#textShape-339{
	-ibooks-line-hints: textShape-339 p url(../hints/content8-paginated.plist) 70 2;
}
#textShape-346{
	-ibooks-line-hints: textShape-346 p url(../hints/content8-paginated.plist) 84 2;
}
#textShape-353{
	-ibooks-line-hints: textShape-353 p url(../hints/content8-paginated.plist) 98 2;
}
#textShape-348{
	-ibooks-line-hints: textShape-348 p url(../hints/content8-paginated.plist) 88 2;
}
#textShape-344{
	-ibooks-line-hints: textShape-344 p url(../hints/content8-paginated.plist) 80 2;
}
#textShape-357{
	-ibooks-line-hints: textShape-357 p url(../hints/content8-paginated.plist) 102 2;
}
#textShape-39{
	-ibooks-line-hints: textShape-39 p url(../hints/content8-paginated.plist) 0 1;
}
#textShape-310{
	-ibooks-line-hints: textShape-310 p url(../hints/content8-paginated.plist) 12 2;
}
#textShape-312{
	-ibooks-line-hints: textShape-312 p url(../hints/content8-paginated.plist) 16 2;
}
#textShape-305{
	-ibooks-line-hints: textShape-305 p url(../hints/content8-paginated.plist) 2 2;
}
#textShape-321{
	-ibooks-line-hints: textShape-321 p url(../hints/content8-paginated.plist) 34 2;
}
#textShape-251{
	-ibooks-line-hints: textShape-251 p url(../hints/content8-paginated.plist) 1 1;
}
#textShape-307{
	-ibooks-line-hints: textShape-307 p url(../hints/content8-paginated.plist) 6 2;
}
#textShape-330{
	-ibooks-line-hints: textShape-330 p url(../hints/content8-paginated.plist) 52 2;
}
#textShape-309{
	-ibooks-line-hints: textShape-309 p url(../hints/content8-paginated.plist) 10 2;
}
#textShape-316{
	-ibooks-line-hints: textShape-316 p url(../hints/content8-paginated.plist) 24 2;
}
#textShape-318{
	-ibooks-line-hints: textShape-318 p url(../hints/content8-paginated.plist) 28 2;
}
#textShape-325{
	-ibooks-line-hints: textShape-325 p url(../hints/content8-paginated.plist) 42 2;
}
#textShape-332{
	-ibooks-line-hints: textShape-332 p url(../hints/content8-paginated.plist) 56 2;
}
#textShape-327{
	-ibooks-line-hints: textShape-327 p url(../hints/content8-paginated.plist) 46 2;
}
#textShape-334{
	-ibooks-line-hints: textShape-334 p url(../hints/content8-paginated.plist) 60 2;
}
#textShape-341{
	-ibooks-line-hints: textShape-341 p url(../hints/content8-paginated.plist) 74 2;
}
#textShape-329{
	-ibooks-line-hints: textShape-329 p url(../hints/content8-paginated.plist) 50 2;
}
#textShape-336{
	-ibooks-line-hints: textShape-336 p url(../hints/content8-paginated.plist) 64 2;
}
#textShape-343{
	-ibooks-line-hints: textShape-343 p url(../hints/content8-paginated.plist) 78 2;
}
#textShape-338{
	-ibooks-line-hints: textShape-338 p url(../hints/content8-paginated.plist) 68 2;
}
#textShape-345{
	-ibooks-line-hints: textShape-345 p url(../hints/content8-paginated.plist) 82 2;
}
#textShape-352{
	-ibooks-line-hints: textShape-352 p url(../hints/content8-paginated.plist) 96 2;
}
#textShape-347{
	-ibooks-line-hints: textShape-347 p url(../hints/content8-paginated.plist) 86 2;
}
#textShape-354{
	-ibooks-line-hints: textShape-354 p url(../hints/content8-paginated.plist) 100 2;
}
#textShape-350{
	-ibooks-line-hints: textShape-350 p url(../hints/content8-paginated.plist) 92 2;
}
#textShape-323{
	-ibooks-line-hints: textShape-323 p url(../hints/content8-paginated.plist) 38 2;
}
#textShape-314{
	-ibooks-line-hints: textShape-314 p url(../hints/content8-paginated.plist) 20 2;
}
#textShape-349{
	-ibooks-line-hints: textShape-349 p url(../hints/content8-paginated.plist) 90 2;
}
#textShape-358{
	-ibooks-line-hints: textShape-358 p url(../hints/content8-paginated.plist) 104 2;
}
#textShape-361{
	-ibooks-line-hints: textShape-361 p url(../hints/content8-paginated.plist) 106 1;
}
#textShape-311{
	-ibooks-line-hints: textShape-311 p url(../hints/content8-paginated.plist) 14 2;
}
#textShape-306{
	-ibooks-line-hints: textShape-306 p url(../hints/content8-paginated.plist) 4 2;
}
#textShape-313{
	-ibooks-line-hints: textShape-313 p url(../hints/content8-paginated.plist) 18 2;
}
#textShape-320{
	-ibooks-line-hints: textShape-320 p url(../hints/content8-paginated.plist) 32 2;
}
#textShape-308{
	-ibooks-line-hints: textShape-308 p url(../hints/content8-paginated.plist) 8 2;
}
#textShape-315{
	-ibooks-line-hints: textShape-315 p url(../hints/content8-paginated.plist) 22 2;
}
#textShape-322{
	-ibooks-line-hints: textShape-322 p url(../hints/content8-paginated.plist) 36 2;
}
#textShape-317{
	-ibooks-line-hints: textShape-317 p url(../hints/content8-paginated.plist) 26 2;
}
#textShape-324{
	-ibooks-line-hints: textShape-324 p url(../hints/content8-paginated.plist) 40 2;
}
#textShape-331{
	-ibooks-line-hints: textShape-331 p url(../hints/content8-paginated.plist) 54 2;
}
#textShape-326{
	-ibooks-line-hints: textShape-326 p url(../hints/content8-paginated.plist) 44 2;
}
#textShape-333{
	-ibooks-line-hints: textShape-333 p url(../hints/content8-paginated.plist) 58 2;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(frame-25)
	{
		height: 71.000pt;
		left: 10.000pt;
		top: 4.000pt;
		width: 70.000pt;
		z-index: 1;
	}
	::slot(textShape-251)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 2;
	}
	::slot(image-183)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 87.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 3;
	}
	::slot(image-184)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 187.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 4;
	}
	::slot(image-185)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 286.000pt;
		top: 90.000pt;
		width: 51.000pt;
		z-index: 5;
	}
	::slot(image-191)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 387.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 6;
	}
	::slot(image-192)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 487.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 7;
	}
	::slot(image-193)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 587.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 8;
	}
	::slot(image-194)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 687.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 9;
	}
	::slot(image-195)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 787.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 10;
	}
	::slot(image-196)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 887.000pt;
		top: 90.000pt;
		width: 50.000pt;
		z-index: 11;
	}
	::slot(image-197)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 87.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 12;
	}
	::slot(image-198)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 187.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 13;
	}
	::slot(image-199)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 287.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 14;
	}
	::slot(image-200)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 387.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 15;
	}
	::slot(image-201)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 487.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 16;
	}
	::slot(image-202)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 587.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 17;
	}
	::slot(image-203)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 687.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 18;
	}
	::slot(image-205)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 787.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 19;
	}
	::slot(image-207)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 887.000pt;
		top: 187.000pt;
		width: 50.000pt;
		z-index: 20;
	}
	::slot(image-209)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 87.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 21;
	}
	::slot(image-210)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 187.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 22;
	}
	::slot(image-211)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 287.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 23;
	}
	::slot(image-212)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 387.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 24;
	}
	::slot(image-213)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 487.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 25;
	}
	::slot(image-214)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 587.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 26;
	}
	::slot(image-215)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 687.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 27;
	}
	::slot(image-216)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 787.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 28;
	}
	::slot(image-222)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 887.000pt;
		top: 284.000pt;
		width: 50.000pt;
		z-index: 29;
	}
	::slot(image-223)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 87.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 30;
	}
	::slot(image-224)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 187.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 31;
	}
	::slot(image-225)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 287.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 32;
	}
	::slot(image-226)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 387.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 33;
	}
	::slot(image-227)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 487.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 34;
	}
	::slot(image-228)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 587.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 35;
	}
	::slot(image-229)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 687.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 36;
	}
	::slot(image-230)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 787.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 37;
	}
	::slot(image-231)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 887.000pt;
		top: 384.000pt;
		width: 50.000pt;
		z-index: 38;
	}
	::slot(image-232)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 87.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 39;
	}
	::slot(image-233)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 187.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 40;
	}
	::slot(image-234)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 287.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 41;
	}
	::slot(image-235)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 387.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 42;
	}
	::slot(image-236)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 487.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 43;
	}
	::slot(image-237)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 587.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 44;
	}
	::slot(image-238)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 687.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 45;
	}
	::slot(image-239)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 787.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 46;
	}
	::slot(image-240)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 887.000pt;
		top: 482.000pt;
		width: 50.000pt;
		z-index: 47;
	}
	::slot(image-241)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 87.000pt;
		top: 582.000pt;
		width: 50.000pt;
		z-index: 48;
	}
	::slot(image-242)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 177.000pt;
		top: 582.000pt;
		width: 70.000pt;
		z-index: 49;
	}
	::slot(image-243)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 287.000pt;
		top: 582.000pt;
		width: 50.000pt;
		z-index: 50;
	}
	::slot(image-244)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 387.000pt;
		top: 582.000pt;
		width: 50.000pt;
		z-index: 51;
	}
	::slot(image-245)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 487.000pt;
		top: 582.000pt;
		width: 50.000pt;
		z-index: 52;
	}
	::slot(image-246)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 587.000pt;
		top: 582.000pt;
		width: 50.000pt;
		z-index: 53;
	}
	::slot(image-247)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 687.000pt;
		top: 582.000pt;
		width: 50.000pt;
		z-index: 54;
	}
	::slot(textShape-305)
	{
		height: 30.000pt;
		left: 62.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 55;
	}
	::slot(textShape-306)
	{
		height: 30.000pt;
		left: 162.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 56;
	}
	::slot(textShape-307)
	{
		height: 30.000pt;
		left: 262.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 57;
	}
	::slot(textShape-308)
	{
		height: 30.000pt;
		left: 362.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 58;
	}
	::slot(textShape-309)
	{
		height: 30.000pt;
		left: 462.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 59;
	}
	::slot(textShape-310)
	{
		height: 30.000pt;
		left: 562.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 60;
	}
	::slot(textShape-311)
	{
		height: 30.000pt;
		left: 662.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 61;
	}
	::slot(textShape-312)
	{
		height: 30.000pt;
		left: 762.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 62;
	}
	::slot(textShape-313)
	{
		height: 30.000pt;
		left: 862.000pt;
		top: 145.000pt;
		width: 100.000pt;
		z-index: 63;
	}
	::slot(textShape-314)
	{
		height: 30.000pt;
		left: 62.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 64;
	}
	::slot(textShape-315)
	{
		height: 30.000pt;
		left: 162.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 65;
	}
	::slot(textShape-316)
	{
		height: 30.000pt;
		left: 262.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 66;
	}
	::slot(textShape-317)
	{
		height: 30.000pt;
		left: 362.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 67;
	}
	::slot(textShape-318)
	{
		height: 30.000pt;
		left: 462.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 68;
	}
	::slot(textShape-319)
	{
		height: 30.000pt;
		left: 562.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 69;
	}
	::slot(textShape-320)
	{
		height: 30.000pt;
		left: 662.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 70;
	}
	::slot(textShape-321)
	{
		height: 30.000pt;
		left: 762.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 71;
	}
	::slot(textShape-322)
	{
		height: 30.000pt;
		left: 862.000pt;
		top: 242.000pt;
		width: 100.000pt;
		z-index: 72;
	}
	::slot(textShape-323)
	{
		height: 30.000pt;
		left: 162.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 73;
	}
	::slot(textShape-324)
	{
		height: 30.000pt;
		left: 262.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 74;
	}
	::slot(textShape-325)
	{
		height: 30.000pt;
		left: 362.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 75;
	}
	::slot(textShape-326)
	{
		height: 30.000pt;
		left: 462.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 76;
	}
	::slot(textShape-327)
	{
		height: 30.000pt;
		left: 562.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 77;
	}
	::slot(textShape-328)
	{
		height: 30.000pt;
		left: 662.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 78;
	}
	::slot(textShape-329)
	{
		height: 30.000pt;
		left: 762.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 79;
	}
	::slot(textShape-330)
	{
		height: 30.000pt;
		left: 862.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 80;
	}
	::slot(textShape-331)
	{
		height: 30.000pt;
		left: 62.000pt;
		top: 339.000pt;
		width: 100.000pt;
		z-index: 81;
	}
	::slot(textShape-332)
	{
		height: 30.000pt;
		left: 162.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 82;
	}
	::slot(textShape-333)
	{
		height: 30.000pt;
		left: 262.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 83;
	}
	::slot(textShape-334)
	{
		height: 30.000pt;
		left: 362.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 84;
	}
	::slot(textShape-335)
	{
		height: 30.000pt;
		left: 460.000pt;
		top: 439.000pt;
		width: 104.000pt;
		z-index: 85;
	}
	::slot(textShape-336)
	{
		height: 30.000pt;
		left: 562.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 86;
	}
	::slot(textShape-337)
	{
		height: 30.000pt;
		left: 662.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 87;
	}
	::slot(textShape-338)
	{
		height: 30.000pt;
		left: 762.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 88;
	}
	::slot(textShape-339)
	{
		height: 30.000pt;
		left: 853.000pt;
		top: 439.000pt;
		width: 118.000pt;
		z-index: 89;
	}
	::slot(textShape-340)
	{
		height: 30.000pt;
		left: 62.000pt;
		top: 439.000pt;
		width: 100.000pt;
		z-index: 90;
	}
	::slot(textShape-341)
	{
		height: 30.000pt;
		left: 162.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 91;
	}
	::slot(textShape-342)
	{
		height: 30.000pt;
		left: 262.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 92;
	}
	::slot(textShape-343)
	{
		height: 30.000pt;
		left: 362.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 93;
	}
	::slot(textShape-344)
	{
		height: 30.000pt;
		left: 462.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 94;
	}
	::slot(textShape-345)
	{
		height: 30.000pt;
		left: 562.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 95;
	}
	::slot(textShape-346)
	{
		height: 30.000pt;
		left: 662.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 96;
	}
	::slot(textShape-347)
	{
		height: 30.000pt;
		left: 762.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 97;
	}
	::slot(textShape-348)
	{
		height: 30.000pt;
		left: 858.000pt;
		top: 537.000pt;
		width: 108.000pt;
		z-index: 98;
	}
	::slot(textShape-349)
	{
		height: 30.000pt;
		left: 62.000pt;
		top: 537.000pt;
		width: 100.000pt;
		z-index: 99;
	}
	::slot(textShape-350)
	{
		height: 30.000pt;
		left: 162.000pt;
		top: 637.000pt;
		width: 100.000pt;
		z-index: 100;
	}
	::slot(textShape-351)
	{
		height: 30.000pt;
		left: 262.000pt;
		top: 637.000pt;
		width: 100.000pt;
		z-index: 101;
	}
	::slot(textShape-352)
	{
		height: 30.000pt;
		left: 362.000pt;
		top: 637.000pt;
		width: 100.000pt;
		z-index: 102;
	}
	::slot(textShape-353)
	{
		height: 30.000pt;
		left: 462.000pt;
		top: 637.000pt;
		width: 100.000pt;
		z-index: 103;
	}
	::slot(textShape-354)
	{
		height: 30.000pt;
		left: 562.000pt;
		top: 637.000pt;
		width: 100.000pt;
		z-index: 104;
	}
	::slot(textShape-357)
	{
		height: 30.000pt;
		left: 657.000pt;
		top: 637.000pt;
		width: 106.000pt;
		z-index: 105;
	}
	::slot(textShape-358)
	{
		height: 30.000pt;
		left: 62.000pt;
		top: 637.000pt;
		width: 100.000pt;
		z-index: 106;
	}
	::slot(textShape-361)
	{
		height: 30.000pt;
		left: 762.000pt;
		top: 637.000pt;
		width: 200.000pt;
		z-index: 107;
	}
	::slot(image-248)
	{
		height: 30.000pt;
		left: 898.000pt;
		top: 596.000pt;
		width: 30.000pt;
		z-index: 108;
	}
	::slot(viewport-popup-5)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 220.000pt;
		left: 16.000pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 109;
	}
	::slot(viewport-popup-6)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 537.000pt;
		left: 47.385pt;
		top: 166.000pt;
		width: 330.000pt;
		z-index: 110;
	}
	::slot(viewport-popup-7)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 162.769pt;
		top: 164.000pt;
		width: 300.000pt;
		z-index: 111;
	}
	::slot(viewport-popup-8)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 262.720pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 112;
	}
	::slot(viewport-popup-9)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 330.000pt;
		left: 363.200pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 113;
	}
	::slot(viewport-popup-10)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 300.000pt;
		left: 462.769pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 114;
	}
	::slot(viewport-popup-11)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 380.000pt;
		left: 562.360pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 115;
	}
	::slot(viewport-popup-12)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 663.000pt;
		top: 165.815pt;
		width: 300.000pt;
		z-index: 116;
	}
	::slot(viewport-popup-13)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 220.000pt;
		left: 710.000pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 117;
	}
	::slot(viewport-popup-14)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 550.000pt;
		left: 167.800pt;
		top: 16.000pt;
		width: 300.000pt;
		z-index: 118;
	}
	::slot(viewport-popup-15)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 187.360pt;
		top: 264.000pt;
		width: 300.000pt;
		z-index: 119;
	}
	::slot(viewport-popup-16)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 287.360pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 120;
	}
	::slot(viewport-popup-17)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 370.000pt;
		left: 388.360pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 121;
	}
	::slot(viewport-popup-18)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 320.000pt;
		left: 487.360pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 122;
	}
	::slot(viewport-popup-19)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 370.000pt;
		left: 588.360pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 123;
	}
	::slot(viewport-popup-20)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 400.000pt;
		left: 687.640pt;
		top: 264.000pt;
		width: 300.000pt;
		z-index: 124;
	}
	::slot(viewport-popup-21)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 400.000pt;
		left: 789.154pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 125;
	}
	::slot(viewport-popup-22)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 710.000pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 126;
	}
	::slot(viewport-popup-23)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 580.000pt;
		left: 157.815pt;
		top: 24.000pt;
		width: 300.000pt;
		z-index: 127;
	}
	::slot(viewport-popup-24)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 580.000pt;
		left: 268.000pt;
		top: 20.000pt;
		width: 300.000pt;
		z-index: 128;
	}
	::slot(viewport-popup-25)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 380.000pt;
		left: 368.000pt;
		top: 120.000pt;
		width: 300.000pt;
		z-index: 129;
	}
	::slot(viewport-popup-26)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 264.360pt;
		top: 360.000pt;
		width: 300.000pt;
		z-index: 130;
	}
	::slot(viewport-popup-27)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 362.360pt;
		top: 360.000pt;
		width: 300.000pt;
		z-index: 131;
	}
	::slot(viewport-popup-28)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 463.360pt;
		top: 361.000pt;
		width: 300.000pt;
		z-index: 132;
	}
	::slot(viewport-popup-29)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 562.360pt;
		top: 360.000pt;
		width: 300.000pt;
		z-index: 133;
	}
	::slot(viewport-popup-30)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 280.000pt;
		left: 663.000pt;
		top: 365.000pt;
		width: 300.000pt;
		z-index: 134;
	}
	::slot(viewport-popup-31)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 280.000pt;
		left: 710.000pt;
		top: 361.000pt;
		width: 300.000pt;
		z-index: 135;
	}
	::slot(viewport-popup-32)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 220.000pt;
		left: 16.000pt;
		top: 148.000pt;
		width: 300.000pt;
		z-index: 136;
	}
	::slot(viewport-popup-33)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 650.000pt;
		left: 260.815pt;
		top: 84.000pt;
		width: 300.000pt;
		z-index: 137;
	}
	::slot(viewport-popup-34)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 320.000pt;
		left: 166.360pt;
		top: 48.000pt;
		width: 300.000pt;
		z-index: 138;
	}
	::slot(viewport-popup-35)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 470.000pt;
		left: 456.308pt;
		top: 179.000pt;
		width: 300.000pt;
		z-index: 139;
	}
	::slot(viewport-popup-36)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 650.000pt;
		left: 557.720pt;
		top: 84.000pt;
		width: 300.000pt;
		z-index: 140;
	}
	::slot(viewport-popup-37)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 280.000pt;
		left: 463.360pt;
		top: 88.000pt;
		width: 300.000pt;
		z-index: 141;
	}
	::slot(viewport-popup-38)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 565.560pt;
		top: 118.000pt;
		width: 300.000pt;
		z-index: 142;
	}
	::slot(viewport-popup-39)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 400.000pt;
		left: 471.000pt;
		top: 214.000pt;
		width: 300.000pt;
		z-index: 143;
	}
	::slot(viewport-popup-40)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 180.000pt;
		left: 710.000pt;
		top: 175.000pt;
		width: 300.000pt;
		z-index: 144;
	}
	::slot(viewport-popup-41)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 300.000pt;
		left: 16.000pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 145;
	}
	::slot(viewport-popup-42)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 500.000pt;
		left: 259.231pt;
		top: 234.000pt;
		width: 300.000pt;
		z-index: 146;
	}
	::slot(viewport-popup-43)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 180.000pt;
		left: 167.680pt;
		top: 286.000pt;
		width: 300.000pt;
		z-index: 147;
	}
	::slot(viewport-popup-44)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 600.000pt;
		left: 458.720pt;
		top: 134.000pt;
		width: 300.000pt;
		z-index: 148;
	}
	::slot(viewport-popup-45)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 330.000pt;
		left: 487.360pt;
		top: 136.000pt;
		width: 300.000pt;
		z-index: 149;
	}
	::slot(viewport-popup-46)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 270.000pt;
		left: 463.360pt;
		top: 196.000pt;
		width: 300.000pt;
		z-index: 150;
	}
	::slot(viewport-popup-47)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 380.000pt;
		left: 562.360pt;
		top: 86.000pt;
		width: 300.000pt;
		z-index: 151;
	}
	::slot(viewport-popup-48)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 650.000pt;
		left: 474.000pt;
		top: 84.000pt;
		width: 300.000pt;
		z-index: 152;
	}
	::slot(viewport-popup-49)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 700.000pt;
		left: 568.000pt;
		top: 34.000pt;
		width: 300.000pt;
		z-index: 153;
	}
	::slot(viewport-popup-50)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 450.000pt;
		left: 16.000pt;
		top: 114.000pt;
		width: 300.000pt;
		z-index: 154;
	}
	::slot(viewport-popup-51)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 370.000pt;
		left: 195.000pt;
		top: 195.000pt;
		width: 300.000pt;
		z-index: 155;
	}
	::slot(viewport-popup-52)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 220.000pt;
		left: 163.000pt;
		top: 344.000pt;
		width: 300.000pt;
		z-index: 156;
	}
	::slot(viewport-popup-53)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 389.000pt;
		top: 455.000pt;
		width: 300.000pt;
		z-index: 157;
	}
	::slot(viewport-popup-54)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 363.304pt;
		top: 455.000pt;
		width: 300.000pt;
		z-index: 158;
	}
	::slot(viewport-popup-55)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 461.655pt;
		top: 456.000pt;
		width: 300.000pt;
		z-index: 159;
	}
	::slot(viewport-popup-56)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 560.655pt;
		top: 456.000pt;
		width: 300.000pt;
		z-index: 160;
	}
	-ibooks-positioned-slots: frame-25, textShape-251, image-183, image-184, image-185, image-191, image-192, image-193, image-194, image-195, image-196, image-197, image-198, image-199, image-200, image-201, image-202, image-203, image-205, image-207, image-209, image-210, image-211, image-212, image-213, image-214, image-215, image-216, image-222, image-223, image-224, image-225, image-226, image-227, image-228, image-229, image-230, image-231, image-232, image-233, image-234, image-235, image-236, image-237, image-238, image-239, image-240, image-241, image-242, image-243, image-244, image-245, image-246, image-247, textShape-305, textShape-306, textShape-307, textShape-308, textShape-309, textShape-310, textShape-311, textShape-312, textShape-313, textShape-314, textShape-315, textShape-316, textShape-317, textShape-318, textShape-319, textShape-320, textShape-321, textShape-322, textShape-323, textShape-324, textShape-325, textShape-326, textShape-327, textShape-328, textShape-329, textShape-330, textShape-331, textShape-332, textShape-333, textShape-334, textShape-335, textShape-336, textShape-337, textShape-338, textShape-339, textShape-340, textShape-341, textShape-342, textShape-343, textShape-344, textShape-345, textShape-346, textShape-347, textShape-348, textShape-349, textShape-350, textShape-351, textShape-352, textShape-353, textShape-354, textShape-357, textShape-358, textShape-361, image-248, viewport-popup-5, viewport-popup-6, viewport-popup-7, viewport-popup-8, viewport-popup-9, viewport-popup-10, viewport-popup-11, viewport-popup-12, viewport-popup-13, viewport-popup-14, viewport-popup-15, viewport-popup-16, viewport-popup-17, viewport-popup-18, viewport-popup-19, viewport-popup-20, viewport-popup-21, viewport-popup-22, viewport-popup-23, viewport-popup-24, viewport-popup-25, viewport-popup-26, viewport-popup-27, viewport-popup-28, viewport-popup-29, viewport-popup-30, viewport-popup-31, viewport-popup-32, viewport-popup-33, viewport-popup-34, viewport-popup-35, viewport-popup-36, viewport-popup-37, viewport-popup-38, viewport-popup-39, viewport-popup-40, viewport-popup-41, viewport-popup-42, viewport-popup-43, viewport-popup-44, viewport-popup-45, viewport-popup-46, viewport-popup-47, viewport-popup-48, viewport-popup-49, viewport-popup-50, viewport-popup-51, viewport-popup-52, viewport-popup-53, viewport-popup-54, viewport-popup-55, viewport-popup-56;
}

