@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HiraginoSansGB-W6";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W6.otf");
}
@font-face{
  font-family: "HiraginoSansGB-W3";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W3.otf");
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
.columnbreak{
	break-after: column;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	marker-end: none;
	marker-start: none;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s2{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s3{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: top;
}
.s4{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s5{
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W3";
	font-size: 166.6667%;
	line-height: 1.000000em;
	text-align: justify;
}
.s6{
	vertical-align: middle;
}
.s7{
	-ibooks-line-spacing-mode: min;
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W6";
	font-size: 416.6667%;
	font-weight: bold;
	line-height: 26.000000pt;
	text-align: center;
}
.s8{
	-ibooks-list-text-indent: 0.0000pt;
	color: #BDC8D7;
	font-family: "HiraginoSansGB-W3";
}
.s9{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s10{
	opacity: 0.000;
}
.s11{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s12{
	-ibooks-list-text-indent: 0.0000pt;
	color: #929292;
	font-family: "HiraginoSansGB-W3";
	font-size: 116.6667%;
	line-height: 1.000000em;
	text-align: center;
}
.s13{
	-ibooks-list-text-indent: 0.0000pt;
	font-size: 800.0000%;
	line-height: 1.000000em;
	text-align: center;
}
.s14{
	-ibooks-stroke: none;
	box-shadow: -0.0pt 5.0pt 12.0pt rgba(0,0,0,0.400000);
	fill: #FFFFFF;
	opacity: 1.000;
	stroke: #A6A6A6;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s15{
	padding-bottom: 5.0000pt;
	padding-left: 5.0000pt;
	padding-right: 5.0000pt;
	padding-top: 5.0000pt;
}
.s16{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 14.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s17{
	-ibooks-list-text-indent: 0.0000pt;
	color: #232323;
	font-family: "HiraginoSansGB-W6";
	font-size: 116.6667%;
	font-weight: bold;
}
.s18{
	-ibooks-list-text-indent: 0.0000pt;
	color: #232323;
	font-family: "HiraginoSansGB-W3";
	font-size: 116.6667%;
}
.c1{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W3";
	font-size: 83.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.c2{
	-ibooks-underline-type: single;
	color: #4066A9;
	font-family: "Georgia";
	text-decoration: underline;
}
#frame-46{
	-ibooks-slot: frame-46;
	display: block;
}
#viewport-popup-141-alt{
	display: block;
	height: 121.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 231.0pt;
}
#viewport-popup-80{
	-ibooks-slot: viewport-popup-80;
	display: block;
}
#viewport-popup-134-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 120.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 230.000pt;
}
#viewport-popup-135-alt{
	display: block;
	height: 101.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 231.0pt;
}
#textShape-636-svg{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 60.000pt;
}
#textShape-1249-div{
	height: 80.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-634{
	-ibooks-slot: textShape-634;
	display: block;
}
#viewport-popup-140-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 120.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 230.000pt;
}
#textShape-628-div{
	height: 360.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-636{
	display: block;
	height: 10.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 60.000pt;
}
#textShape-1246-div{
	height: 59.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-1170-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#viewport-popup-89-alt{
	display: block;
	height: 141.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 231.0pt;
}
#viewport-popup-135-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 100.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 230.000pt;
}
#textShape-736-div{
	height: 260.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 466.000pt;
}
#textShape-1245-svg{
	height: 80.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-757-svg{
	height: 59.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-751{
	-ibooks-slot: textShape-751;
	display: block;
}
#image-456{
	-ibooks-slot: image-456;
	display: block;
}
#image-457{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 34.675pt;
	left: 25.000pt;
	position: absolute;
	top: 26.000pt;
	width: 30.000pt;
}
#textShape-758-svg{
	height: 101.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-757{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-757 p url(../hints/content40-paginated.plist) 14 2;
	display: block;
	height: 59.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 206.000pt;
}
#viewport-popup-80-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 100.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 230.000pt;
}
#viewport-popup-140{
	-ibooks-slot: viewport-popup-140;
	display: block;
}
#viewport-popup-141-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 120.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 230.000pt;
}
#viewport-popup-89-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 140.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 230.000pt;
}
#textShape-751-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 200.000pt;
}
#textShape-1245{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-1245 p url(../hints/content40-paginated.plist) 20 3;
	display: block;
	height: 80.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 206.000pt;
}
#image-621{
	-ibooks-slot: image-621;
	display: block;
}
#textShape-1246{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-1246 p url(../hints/content40-paginated.plist) 23 2;
	display: block;
	height: 59.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 206.000pt;
}
#textShape-1247{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-1247 p url(../hints/content40-paginated.plist) 25 3;
	display: block;
	height: 80.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 206.000pt;
}
#viewport-popup-134{
	-ibooks-slot: viewport-popup-134;
	display: block;
}
#textShape-633-div{
	height: 70.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1170{
	-ibooks-slot: textShape-1170;
	display: block;
}
#viewport-popup-140-alt{
	display: block;
	height: 121.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 231.0pt;
}
#viewport-popup-141{
	-ibooks-slot: viewport-popup-141;
	display: block;
}
#textShape-628-svg{
	height: 360.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#viewport-popup-134-alt{
	display: block;
	height: 121.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 231.0pt;
}
#image-490{
	-ibooks-slot: image-490;
	display: block;
}
#textShape-1245-div{
	height: 80.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-1249{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-1249 p url(../hints/content40-paginated.plist) 28 3;
	display: block;
	height: 80.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 206.000pt;
}
#textShape-1247-svg{
	height: 80.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-634-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-617{
	-ibooks-slot: image-617;
	display: block;
}
#viewport-popup-80-alt{
	display: block;
	height: 101.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 231.0pt;
}
#image-618{
	-ibooks-slot: image-618;
	display: block;
}
#viewport-popup-135{
	-ibooks-slot: viewport-popup-135;
	display: block;
}
#textShape-633{
	-ibooks-slot: textShape-633;
	display: block;
}
#textShape-628{
	-ibooks-slot: textShape-628;
	display: block;
}
#image-619{
	-ibooks-slot: image-619;
	display: block;
}
#viewport-popup-89{
	-ibooks-slot: viewport-popup-89;
	display: block;
}
#textShape-646{
	-ibooks-slot: textShape-646;
	display: block;
}
#textShape-636-div{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 60.000pt;
}
#textShape-1249-svg{
	height: 80.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-736-svg{
	height: 260.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 466.000pt;
}
#textShape-736{
	-ibooks-slot: textShape-736;
	display: block;
}
#image-489{
	-ibooks-slot: image-489;
	display: block;
}
#textShape-757-div{
	height: 59.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-751-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 200.000pt;
}
#textShape-1170-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#image-500{
	-ibooks-slot: image-500;
	display: block;
}
#textShape-1247-div{
	height: 80.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-633-svg{
	height: 70.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-758-div{
	height: 101.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-758{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-758 p url(../hints/content40-paginated.plist) 16 4;
	display: block;
	height: 101.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 206.000pt;
}
#textShape-1246-svg{
	height: 59.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 206.000pt;
}
#textShape-634-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
