@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-797{
	-ibooks-line-hints: textShape-797 p url(../hints/content31-paginated.plist) 5 1;
}
#textShape-1098{
	-ibooks-line-hints: textShape-1098 p url(../hints/content31-paginated.plist) 4 1;
}
#textShape-584{
	-ibooks-line-hints: textShape-584 p url(../hints/content31-paginated.plist) 2 2;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-583)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 748.000pt;
		left: 0.000pt;
		top: 0.000pt;
		width: 1024.000pt;
		z-index: 1;
	}
	::slot(textShape-584)
	{
		height: 120.000pt;
		left: 187.000pt;
		top: 110.000pt;
		width: 650.000pt;
		z-index: 2;
	}
	::slot(frame-95)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 402.000pt;
		top: 300.000pt;
		width: 220.000pt;
		z-index: 3;
	}
	::slot(image-703)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 27.000pt;
		left: 497.000pt;
		top: 681.000pt;
		width: 30.000pt;
		z-index: 4;
	}
	::slot(textShape-797)
	{
		height: 100.000pt;
		left: 462.000pt;
		top: 645.000pt;
		width: 100.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-583, textShape-584, frame-95, image-703, textShape-797;
}

