@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-927{
	-ibooks-line-hints: textShape-927 p url(../hints/content12-paginated.plist) 6 1;
}
#textShape-96{
	-ibooks-line-hints: textShape-96 p url(../hints/content12-paginated.plist) 9 1;
}
#textShape-199{
	-ibooks-line-hints: textShape-199 p url(../hints/content12-paginated.plist) 554 1;
}
#textShape-101{
	-ibooks-line-hints: textShape-101 p url(../hints/content12-paginated.plist) 16 4;
}
#textShape-103{
	-ibooks-line-hints: textShape-103 p url(../hints/content12-paginated.plist) 79 1;
}
#textShape-384{
	-ibooks-line-hints: textShape-384 p url(../hints/content12-paginated.plist) 599 1;
}
#textShape-391{
	-ibooks-line-hints: textShape-391 p url(../hints/content12-paginated.plist) 635 1;
}
#textShape-386{
	-ibooks-line-hints: textShape-386 p url(../hints/content12-paginated.plist) 601 1;
}
#textShape-114{
	-ibooks-line-hints: textShape-114 p url(../hints/content12-paginated.plist) 93 1;
}
#textShape-93{
	-ibooks-line-hints: textShape-93 p url(../hints/content12-paginated.plist) 8 1;
}
#textShape-130{
	-ibooks-line-hints: textShape-130 p url(../hints/content12-paginated.plist) 21 1;
}
#textShape-200{
	-ibooks-line-hints: textShape-200 p url(../hints/content12-paginated.plist) 555 1;
}
#textShape-123{
	-ibooks-line-hints: textShape-123 p url(../hints/content12-paginated.plist) 157 1;
}
#textShape-79{
	-ibooks-line-hints: textShape-79 p url(../hints/content12-paginated.plist) 2 1;
}
#textShape-141{
	-ibooks-line-hints: textShape-141 p url(../hints/content12-paginated.plist) 199 1;
}
#textShape-25{
	-ibooks-line-hints: textShape-25 p url(../hints/content12-paginated.plist) 5 1;
}
#textShape-129{
	-ibooks-line-hints: textShape-129 p url(../hints/content12-paginated.plist) 20 1;
}
#textShape-143{
	-ibooks-line-hints: textShape-143 p url(../hints/content12-paginated.plist) 200 1;
}
#textShape-208{
	-ibooks-line-hints: textShape-208 p url(../hints/content12-paginated.plist) 557 1;
}
#textShape-163{
	-ibooks-line-hints: textShape-163 p url(../hints/content12-paginated.plist) 203 1;
}
#textShape-167{
	-ibooks-line-hints: textShape-167 p url(../hints/content12-paginated.plist) 298 1;
}
#textShape-183{
	-ibooks-line-hints: textShape-183 p url(../hints/content12-paginated.plist) 439 1;
}
#textShape-169{
	-ibooks-line-hints: textShape-169 p url(../hints/content12-paginated.plist) 300 1;
}
#textShape-176{
	-ibooks-line-hints: textShape-176 p url(../hints/content12-paginated.plist) 369 1;
}
#textShape-178{
	-ibooks-line-hints: textShape-178 p url(../hints/content12-paginated.plist) 371 1;
}
#textShape-185{
	-ibooks-line-hints: textShape-185 p url(../hints/content12-paginated.plist) 441 1;
}
#textShape-192{
	-ibooks-line-hints: textShape-192 p url(../hints/content12-paginated.plist) 507 1;
}
#textShape-194{
	-ibooks-line-hints: textShape-194 p url(../hints/content12-paginated.plist) 509 1;
}
#textShape-22{
	-ibooks-line-hints: textShape-22 p url(../hints/content12-paginated.plist) 0 1;
}
#textShape-100{
	-ibooks-line-hints: textShape-100 p url(../hints/content12-paginated.plist) 15 1;
}
#textShape-390{
	-ibooks-line-hints: textShape-390 p url(../hints/content12-paginated.plist) 634 1;
}
#textShape-385{
	-ibooks-line-hints: textShape-385 p url(../hints/content12-paginated.plist) 600 1;
}
#textShape-113{
	-ibooks-line-hints: textShape-113 p url(../hints/content12-paginated.plist) 92 1;
}
#textShape-77{
	-ibooks-line-hints: textShape-77 p url(../hints/content12-paginated.plist) 77 1;
}
#textShape-115{
	-ibooks-line-hints: textShape-115 p url(../hints/content12-paginated.plist) 94 1;
}
#textShape-389{
	-ibooks-line-hints: textShape-389 p url(../hints/content12-paginated.plist) 633 1;
}
#textShape-122{
	-ibooks-line-hints: textShape-122 p url(../hints/content12-paginated.plist) 156 1;
}
#textShape-201{
	-ibooks-line-hints: textShape-201 p url(../hints/content12-paginated.plist) 556 1;
}
#textShape-124{
	-ibooks-line-hints: textShape-124 p url(../hints/content12-paginated.plist) 158 1;
}
#textShape-131{
	-ibooks-line-hints: textShape-131 p url(../hints/content12-paginated.plist) 22 1;
}
#textShape-23{
	-ibooks-line-hints: textShape-23 p url(../hints/content12-paginated.plist) 1 1;
}
#textShape-99{
	-ibooks-line-hints: textShape-99 p url(../hints/content12-paginated.plist) 10 5;
}
#textShape-137{
	-ibooks-line-hints: textShape-137 p url(../hints/content12-paginated.plist) 23 1;
}
#textShape-144{
	-ibooks-line-hints: textShape-144 p url(../hints/content12-paginated.plist) 201 1;
}
#textShape-162{
	-ibooks-line-hints: textShape-162 p url(../hints/content12-paginated.plist) 202 1;
}
#textShape-81{
	-ibooks-line-hints: textShape-81 p url(../hints/content12-paginated.plist) 3 2;
}
#textShape-252{
	-ibooks-line-hints: textShape-252 p url(../hints/content12-paginated.plist) 558 1;
}
#textShape-168{
	-ibooks-line-hints: textShape-168 p url(../hints/content12-paginated.plist) 299 1;
}
#textShape-177{
	-ibooks-line-hints: textShape-177 p url(../hints/content12-paginated.plist) 370 1;
}
#textShape-78{
	-ibooks-line-hints: textShape-78 p url(../hints/content12-paginated.plist) 78 1;
}
#textShape-184{
	-ibooks-line-hints: textShape-184 p url(../hints/content12-paginated.plist) 440 1;
}
#textShape-193{
	-ibooks-line-hints: textShape-193 p url(../hints/content12-paginated.plist) 508 1;
}
#textShape-92{
	-ibooks-line-hints: textShape-92 p url(../hints/content12-paginated.plist) 7 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-22)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 1;
	}
	::slot(textShape-23)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 2;
	}
	::slot(image-173)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 30.000pt;
		left: 497.000pt;
		top: 680.000pt;
		width: 30.000pt;
		z-index: 3;
	}
	::slot(textShape-79)
	{
		height: 70.000pt;
		left: 112.000pt;
		top: 120.000pt;
		width: 800.000pt;
		z-index: 4;
	}
	::slot(textShape-81)
	{
		height: 115.000pt;
		left: 112.000pt;
		top: 540.000pt;
		width: 800.000pt;
		z-index: 5;
	}
	::slot(group-21-gen)
	{
		height: 250.000pt;
		left: 312.000pt;
		top: 230.000pt;
		width: 400.000pt;
		z-index: 6;
	}
	::slot(textShape-91)
	{
		height: 243.000pt;
		left: 616.394pt;
		top: 155.938pt;
		width: 154.000pt;
		z-index: 7;
	}
	::slot(frame-9)
	{
		height: 71.000pt;
		left: 10.000pt;
		top: 4.000pt;
		width: 70.000pt;
		z-index: 8;
	}
	::slot(textShape-927)
	{
		height: 100.000pt;
		left: 462.000pt;
		top: 645.000pt;
		width: 100.000pt;
		z-index: 9;
	}
	-ibooks-positioned-slots: textShape-22, textShape-23, image-173, textShape-79, textShape-81, group-21-gen, textShape-91, frame-9, textShape-927;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-22)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 405.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-20)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 2;
	}
	::slot(textShape-92)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 3;
	}
	::slot(textShape-93)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 4;
	}
	::slot(textShape-94)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 260.000pt;
		left: 387.000pt;
		top: 80.000pt;
		width: 250.000pt;
		z-index: 5;
	}
	::slot(textShape-95)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 133.000pt;
		left: 216.699pt;
		top: 176.213pt;
		width: 170.000pt;
		z-index: 6;
	}
	::slot(textShape-96)
	{
		height: 50.000pt;
		left: 140.000pt;
		top: 341.000pt;
		width: 150.000pt;
		z-index: 7;
	}
	::slot(textShape-97)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 350.000pt;
		left: 387.000pt;
		top: 345.000pt;
		width: 250.000pt;
		z-index: 8;
	}
	::slot(textShape-98)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 133.000pt;
		left: 637.000pt;
		top: 527.213pt;
		width: 170.000pt;
		z-index: 9;
	}
	::slot(textShape-99)
	{
		height: 280.000pt;
		left: 85.000pt;
		top: 421.000pt;
		width: 260.000pt;
		z-index: 10;
	}
	::slot(textShape-100)
	{
		height: 50.000pt;
		left: 736.000pt;
		top: 283.000pt;
		width: 150.000pt;
		z-index: 11;
	}
	::slot(textShape-101)
	{
		height: 138.000pt;
		left: 681.000pt;
		top: 363.000pt;
		width: 260.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-22, image-20, textShape-92, textShape-93, textShape-94, textShape-95, textShape-96, textShape-97, textShape-98, textShape-99, textShape-100, textShape-101;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-296)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-24)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.000pt;
		left: 205.333pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 2;
	}
	::slot(image-260)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 3;
	}
	::slot(textShape-129)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 4;
	}
	::slot(textShape-130)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 5;
	}
	::slot(textShape-131)
	{
		height: 70.000pt;
		left: 330.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 6;
	}
	::slot(image-261)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 26.087pt;
		left: 180.000pt;
		top: 250.000pt;
		width: 300.000pt;
		z-index: 7;
	}
	::slot(image-262)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 48.148pt;
		left: 405.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 8;
	}
	::slot(image-263)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 316.000pt;
		width: 135.000pt;
		z-index: 9;
	}
	::slot(image-269)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 35.831pt;
		left: 661.000pt;
		top: 243.000pt;
		width: 212.000pt;
		z-index: 10;
	}
	::slot(textShape-137)
	{
		height: 70.000pt;
		left: 129.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-57)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 537.000pt;
		left: 286.000pt;
		top: 197.000pt;
		width: 330.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-83)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 280.667pt;
		top: 221.000pt;
		width: 300.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-84)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 684.500pt;
		top: 369.000pt;
		width: 230.000pt;
		z-index: 14;
	}
	::slot(viewport-popup-85)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 652.667pt;
		top: 309.831pt;
		width: 230.000pt;
		z-index: 15;
	}
	-ibooks-positioned-slots: image-296, image-24, image-260, textShape-129, textShape-130, textShape-131, image-261, image-262, image-263, image-269, textShape-137, viewport-popup-57, viewport-popup-83, viewport-popup-84, viewport-popup-85;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-297)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-21)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 2;
	}
	::slot(textShape-77)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 3;
	}
	::slot(textShape-78)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 4;
	}
	::slot(textShape-103)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 5;
	}
	::slot(image-32)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.881pt;
		left: 179.778pt;
		top: 250.000pt;
		width: 300.000pt;
		z-index: 6;
	}
	::slot(image-35)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 669.000pt;
		top: 380.000pt;
		width: 146.000pt;
		z-index: 7;
	}
	::slot(image-271)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.083pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 8;
	}
	::slot(viewport-popup-59)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 769.000pt;
		top: 241.000pt;
		width: 230.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-86)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 280.000pt;
		left: 496.000pt;
		top: 191.000pt;
		width: 300.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: image-297, image-21, textShape-77, textShape-78, textShape-103, image-32, image-35, image-271, viewport-popup-59, viewport-popup-86;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-298)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-68)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 2;
	}
	::slot(textShape-113)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 3;
	}
	::slot(textShape-114)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 4;
	}
	::slot(textShape-115)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 5;
	}
	::slot(image-125)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 316.000pt;
		width: 135.000pt;
		z-index: 6;
	}
	::slot(image-131)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 26.087pt;
		left: 180.000pt;
		top: 250.000pt;
		width: 300.000pt;
		z-index: 7;
	}
	::slot(image-133)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 50.000pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 8;
	}
	::slot(image-134)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 380.000pt;
		width: 84.000pt;
		z-index: 9;
	}
	::slot(image-143)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 662.000pt;
		top: 243.000pt;
		width: 212.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-64)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 708.500pt;
		top: 369.000pt;
		width: 230.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-65)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 220.000pt;
		left: 474.333pt;
		top: 251.000pt;
		width: 300.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-66)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 430.000pt;
		left: 496.000pt;
		top: 177.000pt;
		width: 230.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-68)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 706.333pt;
		top: 310.000pt;
		width: 230.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: image-298, image-68, textShape-113, textShape-114, textShape-115, image-125, image-131, image-133, image-134, image-143, viewport-popup-64, viewport-popup-65, viewport-popup-66, viewport-popup-68;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-274)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-145)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 2;
	}
	::slot(textShape-122)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 3;
	}
	::slot(textShape-123)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 4;
	}
	::slot(textShape-124)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 5;
	}
	::slot(image-146)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 316.000pt;
		width: 135.000pt;
		z-index: 6;
	}
	::slot(image-250)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 406.000pt;
		width: 84.000pt;
		z-index: 7;
	}
	::slot(image-256)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 662.000pt;
		top: 243.000pt;
		width: 212.000pt;
		z-index: 8;
	}
	::slot(image-258)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 187.500pt;
		left: 179.000pt;
		top: 167.000pt;
		width: 300.000pt;
		z-index: 9;
	}
	::slot(image-276)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 54.167pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-79)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 979.167pt;
		top: 369.000pt;
		width: 230.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-81)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 100.000pt;
		left: 658.667pt;
		top: 277.000pt;
		width: 230.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-82)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 948.667pt;
		top: 310.000pt;
		width: 230.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-87)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 250.000pt;
		left: 162.769pt;
		top: 164.000pt;
		width: 300.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: image-274, image-145, textShape-122, textShape-123, textShape-124, image-146, image-250, image-256, image-258, image-276, viewport-popup-79, viewport-popup-81, viewport-popup-82, viewport-popup-87;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-565)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 100.000pt;
		left: 179.000pt;
		top: 211.000pt;
		width: 300.000pt;
		z-index: 1;
	}
	::slot(group-22-gen)
	{
		height: 778.000pt;
		left: 660.000pt;
		top: 30.000pt;
		width: 215.424pt;
		z-index: 2;
	}
	::slot(image-277)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 3;
	}
	::slot(textShape-141)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 4;
	}
	::slot(textShape-143)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 5;
	}
	::slot(textShape-144)
	{
		height: 70.000pt;
		left: 229.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 6;
	}
	::slot(image-278)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 730.000pt;
		top: 282.000pt;
		width: 135.000pt;
		z-index: 7;
	}
	::slot(image-286)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 730.000pt;
		top: 345.000pt;
		width: 84.000pt;
		z-index: 8;
	}
	::slot(image-292)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 662.000pt;
		top: 209.000pt;
		width: 212.000pt;
		z-index: 9;
	}
	::slot(image-300)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 730.000pt;
		top: 423.000pt;
		width: 84.000pt;
		z-index: 10;
	}
	::slot(textShape-162)
	{
		height: 70.000pt;
		left: 28.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 11;
	}
	::slot(textShape-163)
	{
		height: 70.000pt;
		left: 430.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 12;
	}
	::slot(image-302)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.083pt;
		left: 174.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 13;
	}
	::slot(image-303)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.083pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 14;
	}
	::slot(image-304)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.083pt;
		left: 434.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 15;
	}
	::slot(viewport-popup-88)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 724.500pt;
		top: 335.000pt;
		width: 230.000pt;
		z-index: 16;
	}
	::slot(viewport-popup-90)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 430.000pt;
		left: 766.000pt;
		top: 142.000pt;
		width: 230.000pt;
		z-index: 17;
	}
	::slot(viewport-popup-91)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 695.000pt;
		top: 276.000pt;
		width: 230.000pt;
		z-index: 18;
	}
	::slot(viewport-popup-92)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 100.000pt;
		left: 699.000pt;
		top: 294.000pt;
		width: 230.000pt;
		z-index: 19;
	}
	::slot(viewport-popup-93)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 345.000pt;
		top: 31.000pt;
		width: 300.000pt;
		z-index: 20;
	}
	::slot(viewport-popup-94)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 475.000pt;
		top: 31.000pt;
		width: 300.000pt;
		z-index: 21;
	}
	::slot(viewport-popup-95)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 370.000pt;
		left: 605.000pt;
		top: 101.000pt;
		width: 300.000pt;
		z-index: 22;
	}
	-ibooks-positioned-slots: image-565, group-22-gen, image-277, textShape-141, textShape-143, textShape-144, image-278, image-286, image-292, image-300, textShape-162, textShape-163, image-302, image-303, image-304, viewport-popup-88, viewport-popup-90, viewport-popup-91, viewport-popup-92, viewport-popup-93, viewport-popup-94, viewport-popup-95;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-324)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 48.077pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 1;
	}
	::slot(image-323)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 2;
	}
	::slot(image-305)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 3;
	}
	::slot(textShape-167)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 4;
	}
	::slot(textShape-168)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 5;
	}
	::slot(textShape-169)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 6;
	}
	::slot(image-306)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 379.000pt;
		width: 135.000pt;
		z-index: 7;
	}
	::slot(image-314)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 730.000pt;
		top: 443.000pt;
		width: 84.000pt;
		z-index: 8;
	}
	::slot(image-320)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 662.000pt;
		top: 306.000pt;
		width: 212.000pt;
		z-index: 9;
	}
	::slot(image-322)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 200.000pt;
		left: 229.000pt;
		top: 161.000pt;
		width: 200.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-100)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 400.000pt;
		left: 474.334pt;
		top: 71.000pt;
		width: 300.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-96)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 814.833pt;
		top: 369.000pt;
		width: 230.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-98)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 430.000pt;
		left: 602.333pt;
		top: 177.000pt;
		width: 230.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-99)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 706.333pt;
		top: 310.000pt;
		width: 230.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: image-324, image-323, image-305, textShape-167, textShape-168, textShape-169, image-306, image-314, image-320, image-322, viewport-popup-100, viewport-popup-96, viewport-popup-98, viewport-popup-99;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-343)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-326)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 2;
	}
	::slot(textShape-176)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 3;
	}
	::slot(textShape-177)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 4;
	}
	::slot(textShape-178)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 5;
	}
	::slot(image-327)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 352.000pt;
		width: 135.000pt;
		z-index: 6;
	}
	::slot(image-333)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 730.000pt;
		top: 416.000pt;
		width: 84.000pt;
		z-index: 7;
	}
	::slot(image-339)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 662.000pt;
		top: 279.000pt;
		width: 212.000pt;
		z-index: 8;
	}
	::slot(image-342)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 200.000pt;
		left: 229.000pt;
		top: 161.000pt;
		width: 200.000pt;
		z-index: 9;
	}
	::slot(image-344)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.083pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-102)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 814.833pt;
		top: 369.000pt;
		width: 230.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-103)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 430.000pt;
		left: 602.333pt;
		top: 177.000pt;
		width: 230.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-104)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 706.333pt;
		top: 310.000pt;
		width: 230.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-105)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 370.000pt;
		left: 474.667pt;
		top: 101.000pt;
		width: 300.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: image-343, image-326, textShape-176, textShape-177, textShape-178, image-327, image-333, image-339, image-342, image-344, viewport-popup-102, viewport-popup-103, viewport-popup-104, viewport-popup-105;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-363)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 52.083pt;
		left: 304.000pt;
		top: 500.000pt;
		width: 50.000pt;
		z-index: 1;
	}
	::slot(image-364)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 2;
	}
	::slot(image-362)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 200.000pt;
		left: 229.000pt;
		top: 161.000pt;
		width: 200.000pt;
		z-index: 3;
	}
	::slot(image-345)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 4;
	}
	::slot(textShape-183)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 5;
	}
	::slot(textShape-184)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 6;
	}
	::slot(textShape-185)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 7;
	}
	::slot(image-346)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 352.000pt;
		width: 135.000pt;
		z-index: 8;
	}
	::slot(image-352)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 730.000pt;
		top: 416.000pt;
		width: 84.000pt;
		z-index: 9;
	}
	::slot(image-358)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 662.000pt;
		top: 279.000pt;
		width: 212.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-110)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 320.000pt;
		left: 487.360pt;
		top: 263.000pt;
		width: 300.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-106)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 814.833pt;
		top: 369.000pt;
		width: 230.000pt;
		z-index: 12;
	}
	::slot(viewport-popup-107)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 430.000pt;
		left: 471.000pt;
		top: 213.000pt;
		width: 230.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-108)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 706.333pt;
		top: 310.000pt;
		width: 230.000pt;
		z-index: 14;
	}
	-ibooks-positioned-slots: image-363, image-364, image-362, image-345, textShape-183, textShape-184, textShape-185, image-346, image-352, image-358, viewport-popup-110, viewport-popup-106, viewport-popup-107, viewport-popup-108;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-383)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 684.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-382)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 54.348pt;
		left: 304.000pt;
		top: 499.000pt;
		width: 50.000pt;
		z-index: 2;
	}
	::slot(image-365)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 67.500pt;
		left: 179.000pt;
		top: 227.000pt;
		width: 300.000pt;
		z-index: 3;
	}
	::slot(image-367)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 4;
	}
	::slot(textShape-192)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 5;
	}
	::slot(textShape-193)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 6;
	}
	::slot(textShape-194)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 7;
	}
	::slot(image-368)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 731.000pt;
		top: 516.000pt;
		width: 135.000pt;
		z-index: 8;
	}
	::slot(image-380)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 35.831pt;
		left: 662.000pt;
		top: 243.000pt;
		width: 212.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-115)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 440.000pt;
		left: 262.720pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-112)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 978.833pt;
		top: 147.000pt;
		width: 230.000pt;
		z-index: 11;
	}
	::slot(viewport-popup-114)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 654.000pt;
		top: 309.831pt;
		width: 230.000pt;
		z-index: 12;
	}
	-ibooks-positioned-slots: image-383, image-382, image-365, image-367, textShape-192, textShape-193, textShape-194, image-368, image-380, viewport-popup-115, viewport-popup-112, viewport-popup-114;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-396)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 230.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-384)
	{
		height: 93.333pt;
		left: 100.000pt;
		top: 214.000pt;
		width: 100.000pt;
		z-index: 2;
	}
	::slot(image-385)
	{
		height: 92.593pt;
		left: 510.000pt;
		top: 214.000pt;
		width: 100.000pt;
		z-index: 3;
	}
	::slot(image-386)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 4;
	}
	::slot(textShape-199)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 5;
	}
	::slot(textShape-200)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 6;
	}
	::slot(textShape-201)
	{
		height: 70.000pt;
		left: 50.000pt;
		top: 600.000pt;
		width: 200.000pt;
		z-index: 7;
	}
	::slot(image-387)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 301.000pt;
		top: 316.000pt;
		width: 135.000pt;
		z-index: 8;
	}
	::slot(image-395)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 41.667pt;
		left: 124.000pt;
		top: 540.000pt;
		width: 50.000pt;
		z-index: 9;
	}
	::slot(textShape-208)
	{
		height: 20.000pt;
		left: 100.000pt;
		top: 320.000pt;
		width: 100.000pt;
		z-index: 10;
	}
	::slot(textShape-252)
	{
		height: 20.000pt;
		left: 510.000pt;
		top: 320.000pt;
		width: 100.000pt;
		z-index: 11;
	}
	::slot(image-397)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 36.000pt;
		left: 231.000pt;
		top: 243.000pt;
		width: 212.000pt;
		z-index: 12;
	}
	::slot(image-399)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 640.000pt;
		top: 100.000pt;
		width: 215.000pt;
		z-index: 13;
	}
	::slot(viewport-popup-116)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 978.833pt;
		top: 147.000pt;
		width: 230.000pt;
		z-index: 14;
	}
	::slot(viewport-popup-118)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 330.000pt;
		left: 363.200pt;
		top: 166.000pt;
		width: 300.000pt;
		z-index: 15;
	}
	::slot(viewport-popup-119)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 706.333pt;
		top: 310.000pt;
		width: 230.000pt;
		z-index: 16;
	}
	-ibooks-positioned-slots: image-396, image-384, image-385, image-386, textShape-199, textShape-200, textShape-201, image-387, image-395, textShape-208, textShape-252, image-397, image-399, viewport-popup-116, viewport-popup-118, viewport-popup-119;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-413)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 576.000pt;
		left: 650.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 1;
	}
	::slot(image-400)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 200.000pt;
		left: 120.000pt;
		top: 161.000pt;
		width: 200.000pt;
		z-index: 2;
	}
	::slot(image-403)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 3;
	}
	::slot(textShape-384)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 4;
	}
	::slot(textShape-385)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 5;
	}
	::slot(textShape-386)
	{
		height: 70.000pt;
		left: 120.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 6;
	}
	::slot(image-404)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 22.000pt;
		left: 721.000pt;
		top: 353.000pt;
		width: 135.000pt;
		z-index: 7;
	}
	::slot(image-410)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 35.831pt;
		left: 652.000pt;
		top: 280.000pt;
		width: 212.000pt;
		z-index: 8;
	}
	::slot(image-412)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 576.000pt;
		left: 430.000pt;
		top: 100.000pt;
		width: 166.000pt;
		z-index: 9;
	}
	::slot(viewport-popup-121)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 340.000pt;
		left: 756.999pt;
		top: 194.000pt;
		width: 230.000pt;
		z-index: 10;
	}
	::slot(viewport-popup-122)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 110.000pt;
		left: 938.999pt;
		top: 345.831pt;
		width: 230.000pt;
		z-index: 11;
	}
	-ibooks-positioned-slots: image-413, image-400, image-403, textShape-384, textShape-385, textShape-386, image-404, image-410, image-412, viewport-popup-121, viewport-popup-122;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(image-414)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 215.000pt;
		left: 230.000pt;
		top: 153.000pt;
		width: 200.000pt;
		z-index: 1;
	}
	::slot(image-415)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 577.000pt;
		left: 660.000pt;
		top: 100.000pt;
		width: 216.000pt;
		z-index: 2;
	}
	::slot(image-416)
	{
		height: 34.675pt;
		left: 30.000pt;
		top: 30.000pt;
		width: 30.000pt;
		z-index: 3;
	}
	::slot(textShape-389)
	{
		height: 20.000pt;
		left: 945.000pt;
		top: 38.000pt;
		width: 50.000pt;
		z-index: 4;
	}
	::slot(textShape-390)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 5;
	}
	::slot(textShape-391)
	{
		height: 70.000pt;
		left: 230.000pt;
		top: 570.000pt;
		width: 200.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: image-414, image-415, image-416, textShape-389, textShape-390, textShape-391;
}

