@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1004{
	-ibooks-line-hints: textShape-1004 p url(../hints/content76-paginated.plist) 0 7;
}
#textShape-1233{
	-ibooks-line-hints: textShape-1233 p url(../hints/content76-paginated.plist) 10 1;
}
#textShape-1006{
	-ibooks-line-hints: textShape-1006 p url(../hints/content76-paginated.plist) 8 1;
}
#textShape-1005{
	-ibooks-line-hints: textShape-1005 p url(../hints/content76-paginated.plist) 7 1;
}
#textShape-1008{
	-ibooks-line-hints: textShape-1008 p url(../hints/content76-paginated.plist) 9 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-1004)
	{
		height: 360.000pt;
		left: 112.000pt;
		top: 270.000pt;
		width: 800.000pt;
		z-index: 1;
	}
	::slot(textShape-1005)
	{
		height: 70.000pt;
		left: 112.000pt;
		top: 120.000pt;
		width: 800.000pt;
		z-index: 2;
	}
	::slot(textShape-1006)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 3;
	}
	::slot(frame-82)
	{
		height: 71.000pt;
		left: 5.000pt;
		top: 4.000pt;
		width: 80.000pt;
		z-index: 4;
	}
	::slot(image-612)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 30.000pt;
		left: 497.000pt;
		top: 680.000pt;
		width: 30.000pt;
		z-index: 5;
	}
	::slot(textShape-1233)
	{
		height: 100.000pt;
		left: 462.000pt;
		top: 645.000pt;
		width: 100.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-1004, textShape-1005, textShape-1006, frame-82, image-612, textShape-1233;
}

