@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HiraginoSansGB-W3";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W3.otf");
}
@font-face{
  font-family: "HiraginoSansGB-W6";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W6.otf");
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
.columnbreak{
	break-after: column;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	marker-end: none;
	marker-start: none;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s2{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s3{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: top;
}
.s4{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s5{
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W3";
	font-size: 166.6667%;
	line-height: 1.000000em;
	text-align: justify;
}
.s6{
	vertical-align: middle;
}
.s7{
	-ibooks-list-text-indent: 0.0000pt;
	color: #BDC8D7;
	font-family: "Helvetica Neue";
	text-align: right;
}
.s8{
	-ibooks-line-spacing-mode: min;
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W6";
	font-size: 416.6667%;
	font-weight: bold;
	line-height: 26.000000pt;
	text-align: center;
}
.s9{
	-ibooks-list-text-indent: 0.0000pt;
	color: #BDC8D7;
	font-family: "HiraginoSansGB-W3";
}
.s10{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s11{
	opacity: 0.000;
}
.s12{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s13{
	-ibooks-list-text-indent: 0.0000pt;
	font-size: 800.0000%;
	line-height: 1.000000em;
	text-align: center;
}
.s14{
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W6";
	font-size: 166.6667%;
	font-weight: bold;
	line-height: 1.000000em;
	text-align: justify;
}
.c1{
	font-weight: normal;
}
.c2{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W3";
	font-size: 83.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.c3{
	-ibooks-underline-type: single;
	color: #4066A9;
	font-family: "Georgia";
	text-decoration: underline;
}
#textShape-1139-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1243-svg{
	height: 480.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1150-svg{
	height: 480.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1148-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#image-663{
	-ibooks-slot: image-663;
	display: block;
}
#textShape-1136-svg{
	height: 400.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-664{
	-ibooks-slot: image-664;
	display: block;
}
#textShape-1137-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#image-665{
	-ibooks-slot: image-665;
	display: block;
}
#textShape-1241-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#image-680{
	-ibooks-slot: image-680;
	display: block;
}
#textShape-1144-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#image-681{
	-ibooks-slot: image-681;
	display: block;
}
#textShape-1145-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-682{
	-ibooks-slot: image-682;
	display: block;
}
#textShape-1141-svg{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 60.000pt;
}
#frame-84{
	-ibooks-slot: frame-84;
	display: block;
}
#textShape-1139-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-683{
	-ibooks-slot: image-683;
	display: block;
}
#textShape-1138-svg{
	height: 70.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1242-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1141{
	display: block;
	height: 10.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 60.000pt;
}
#image-679{
	-ibooks-slot: image-679;
	display: block;
}
#textShape-1241{
	-ibooks-slot: textShape-1241;
	display: block;
}
#textShape-1150-div{
	height: 480.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1150{
	-ibooks-slot: textShape-1150;
	display: block;
}
#textShape-1242{
	-ibooks-slot: textShape-1242;
	display: block;
}
#textShape-1243{
	-ibooks-slot: textShape-1243;
	display: block;
}
#textShape-1144{
	-ibooks-slot: textShape-1144;
	display: block;
}
#textShape-1145{
	-ibooks-slot: textShape-1145;
	display: block;
}
#textShape-1138{
	-ibooks-slot: textShape-1138;
	display: block;
}
#textShape-1139{
	-ibooks-slot: textShape-1139;
	display: block;
}
#textShape-1146-svg{
	height: 480.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-543{
	-ibooks-slot: image-543;
	display: block;
}
#textShape-1137{
	-ibooks-slot: textShape-1137;
	display: block;
}
#textShape-1148{
	-ibooks-slot: textShape-1148;
	display: block;
}
#textShape-1136-div{
	height: 400.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1149{
	-ibooks-slot: textShape-1149;
	display: block;
}
#textShape-1147{
	-ibooks-slot: textShape-1147;
	display: block;
}
#textShape-1149-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1136{
	-ibooks-slot: textShape-1136;
	display: block;
}
#textShape-1146{
	-ibooks-slot: textShape-1146;
	display: block;
}
#textShape-1243-div{
	height: 480.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1244{
	-ibooks-slot: textShape-1244;
	display: block;
}
#textShape-1144-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1190{
	-ibooks-slot: textShape-1190;
	display: block;
}
#textShape-1138-div{
	height: 70.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1141-div{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 60.000pt;
}
#textShape-1244-svg{
	height: 330.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 360.000pt;
}
#textShape-1149-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1190-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#textShape-1137-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1241-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1242-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1148-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1145-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1146-div{
	height: 480.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1244-div{
	height: 330.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 360.000pt;
}
#image-661{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 34.675pt;
	left: 25.000pt;
	position: absolute;
	top: 26.000pt;
	width: 30.000pt;
}
#textShape-1190-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
