@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HiraginoSansGB-W3";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W3.otf");
}
@font-face{
  font-family: "HiraginoSansGB-W6";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W6.otf");
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
.columnbreak{
	break-after: column;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	marker-end: none;
	marker-start: none;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s2{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #5ABEC1;
	opacity: 1.000;
	stroke: #4D4D4D;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s3{
	fill: #041932;
}
.s4{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s5{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: top;
}
.s6{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s7{
	-ibooks-list-text-indent: 0.0000pt;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W3";
	font-size: 166.6667%;
	text-align: justify;
}
.s8{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: bottom;
}
.s9{
	vertical-align: top;
}
.s10{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 200.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s11{
	-ibooks-list-text-indent: 0.0000pt;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W6";
	font-size: 300.0000%;
	font-weight: bold;
	line-height: 0.800000em;
	text-align: center;
}
.s12{
	fill: rgba(2,25,50,0.000000);
	stroke: #1FBCD7;
	stroke-width: 2.0pt;
}
.s13{
	-ibooks-column-count: 1;
	padding-bottom: 12.0000pt;
	padding-left: 12.0000pt;
	padding-right: 12.0000pt;
	padding-top: 12.0000pt;
	vertical-align: top;
}
.s14{
	padding-bottom: 14.0000pt;
	padding-left: 14.0000pt;
	padding-right: 14.0000pt;
	padding-top: 14.0000pt;
	vertical-align: middle;
}
.s15{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #FFFFFF;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 14.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s16{
	-ibooks-list-text-indent: 0.0000pt;
	color: #1FBCD7;
	font-family: "HiraginoSansGB-W6";
	font-size: 150.0000%;
	font-weight: bold;
	margin-bottom: 0.0000pt;
	text-align: center;
}
.s17{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s18{
	opacity: 0.000;
}
.s19{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s20{
	-ibooks-list-text-indent: 0.0000pt;
	color: #021932;
}
.s21{
	vertical-align: middle;
}
.s22{
	-ibooks-list-text-indent: 0.0000pt;
	color: #BDC8D7;
	font-family: "Helvetica Neue";
	text-align: right;
}
.s23{
	-ibooks-list-text-indent: 0.0000pt;
	font-size: 400.0000%;
	line-height: 1.000000em;
	text-align: center;
}
.s24{
	-ibooks-list-text-indent: 0.0000pt;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W6";
	font-size: 166.6667%;
	font-weight: bold;
	line-height: 1.000000em;
	text-align: justify;
}
.s25{
	-ibooks-list-text-indent: 0.0000pt;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W3";
	font-size: 166.6667%;
	line-height: 1.000000em;
	text-align: justify;
}
.c1{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #021932;
	font-family: "HiraginoSansGB-W3";
	font-size: 83.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.c2{
	-ibooks-underline-type: single;
	color: #4066A9;
	font-family: "Georgia";
	text-decoration: underline;
}
.c3{
	-ibooks-underline-type: none;
	text-decoration: none;
}
#textShape-676-svg{
	height: 360.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-669-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-663-svg{
	height: 280.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-677-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1029-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-1030-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-664-svg{
	height: 40.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1026-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-1030{
	-ibooks-slot: textShape-1030;
	display: block;
}
#textShape-1027-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-665-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-1026{
	-ibooks-slot: textShape-1026;
	display: block;
}
#textShape-1027{
	-ibooks-slot: textShape-1027;
	display: block;
}
#textShape-663{
	-ibooks-slot: textShape-663;
	display: block;
}
#textShape-1028{
	-ibooks-slot: textShape-1028;
	display: block;
}
#textShape-1029{
	-ibooks-slot: textShape-1029;
	display: block;
}
#textShape-665{
	-ibooks-slot: textShape-665;
	display: block;
}
#textShape-673-div{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-667{
	-ibooks-slot: textShape-667;
	display: block;
}
#textShape-674{
	-ibooks-slot: textShape-674;
	display: block;
}
#textShape-666-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-669{
	-ibooks-slot: textShape-669;
	display: block;
}
#textShape-676{
	-ibooks-slot: textShape-676;
	display: block;
}
#textShape-678{
	-ibooks-slot: textShape-678;
	display: block;
}
#textShape-667-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-674-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-668-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-1028-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#image-481{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 34.675pt;
	left: 20.000pt;
	position: absolute;
	top: 26.000pt;
	width: 30.000pt;
}
#textShape-1029-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-676-div{
	height: 360.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-669-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-1026-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-663-div{
	height: 280.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-630{
	-ibooks-slot: image-630;
	display: block;
}
#textShape-677-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-664-div{
	height: 40.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-665-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-662{
	-ibooks-slot: textShape-662;
	display: block;
}
#textShape-664{
	-ibooks-slot: textShape-664;
	display: block;
}
#textShape-673-svg{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-673{
	display: block;
	height: 10.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 50.000pt;
}
#textShape-666-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-1027-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-668{
	-ibooks-slot: textShape-668;
	display: block;
}
#textShape-675{
	-ibooks-slot: textShape-675;
	display: block;
}
#textShape-1030-svg{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-677{
	-ibooks-slot: textShape-677;
	display: block;
}
#textShape-666{
	-ibooks-slot: textShape-666;
	display: block;
}
#textShape-674-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1028-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#textShape-667-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
#frame-50{
	-ibooks-slot: frame-50;
	display: block;
}
#textShape-668-div{
	height: 50.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 170.000pt;
}
