@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-613{
	-ibooks-line-hints: textShape-613 p url(../hints/content45-paginated.plist) 11 1;
}
#textShape-611{
	-ibooks-line-hints: textShape-611 p url(../hints/content45-paginated.plist) 0 11;
}
#textShape-1176{
	-ibooks-line-hints: textShape-1176 p url(../hints/content45-paginated.plist) 14 1;
}
#textShape-614{
	-ibooks-line-hints: textShape-614 p url(../hints/content45-paginated.plist) 12 1;
}
#textShape-622{
	-ibooks-line-hints: textShape-622 p url(../hints/content45-paginated.plist) 13 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-611)
	{
		height: 400.000pt;
		left: 112.000pt;
		top: 230.000pt;
		width: 800.000pt;
		z-index: 1;
	}
	::slot(textShape-613)
	{
		height: 70.000pt;
		left: 112.000pt;
		top: 120.000pt;
		width: 800.000pt;
		z-index: 2;
	}
	::slot(textShape-614)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 3;
	}
	::slot(image-448)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 30.000pt;
		left: 497.000pt;
		top: 680.000pt;
		width: 30.000pt;
		z-index: 4;
	}
	::slot(frame-49)
	{
		height: 71.000pt;
		left: 5.000pt;
		top: 4.000pt;
		width: 80.000pt;
		z-index: 5;
	}
	::slot(textShape-1176)
	{
		height: 100.000pt;
		left: 462.000pt;
		top: 645.000pt;
		width: 100.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-611, textShape-613, textShape-614, image-448, frame-49, textShape-1176;
}

