@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HiraginoSansGB-W3";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W3.otf");
}
@font-face{
  font-family: "HiraginoSansGB-W6";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W6.otf");
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
.columnbreak{
	break-after: column;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	marker-end: none;
	marker-start: none;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s2{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s3{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: top;
}
.s4{
	vertical-align: middle;
}
.s5{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s6{
	-ibooks-list-text-indent: 0.0000pt;
	color: #BDC8D7;
	font-family: "Helvetica Neue";
	text-align: right;
}
.s7{
	-ibooks-line-spacing-mode: min;
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W6";
	font-size: 416.6667%;
	font-weight: bold;
	line-height: 26.000000pt;
	text-align: center;
}
.s8{
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W3";
	font-size: 166.6667%;
	line-height: 1.000000em;
	text-align: justify;
}
.s9{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #5ABEC1;
	opacity: 1.000;
	stroke: #4D4D4D;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s10{
	fill: #021932;
	stroke: none;
}
.s11{
	fill: #FFFFFF;
	stroke: none;
}
.s12{
	fill: #1FBCD7;
	stroke: none;
}
.s13{
	-ibooks-list-text-indent: 0.0000pt;
	color: #BDC8D7;
	font-family: "HiraginoSansGB-W3";
}
.s14{
	marker-end: url(#SVG_DEF_1);
	stroke: #1FBCD7;
	stroke-width: 3.0pt;
}
.s15{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s16{
	opacity: 0.000;
}
.s17{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s18{
	-ibooks-list-text-indent: 0.0000pt;
	font-size: 800.0000%;
	line-height: 1.000000em;
	text-align: center;
}
.s19{
	-ibooks-line-spacing-mode: min;
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W3";
	font-size: 166.6667%;
	line-height: 26.000000pt;
	text-align: justify;
}
.s20{
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W3";
	font-size: 231.4815%;
	text-align: center;
}
.s21{
	-ibooks-list-text-indent: 0.0000pt;
	color: #929292;
	font-family: "HiraginoSansGB-W3";
	font-size: 116.6667%;
	line-height: 1.000000em;
	text-align: center;
}
.s22{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s23{
	-ibooks-list-text-indent: 0.0000pt;
	font-family: "HiraginoSansGB-W3";
	font-size: 133.3333%;
	text-align: center;
}
.c1{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W3";
	font-size: 83.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.c2{
	-ibooks-underline-type: single;
	color: #4066A9;
	font-family: "Georgia";
	text-decoration: underline;
}
.c3{
	letter-spacing: -0.0100em;
}
#textShape-24{
	display: block;
	height: 10.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 50.000pt;
}
#textShape-242-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-355{
	-ibooks-slot: textShape-355;
	display: block;
}
#textShape-364{
	-ibooks-slot: textShape-364;
	display: block;
}
#textShape-359{
	display: block;
	height: 27.778pt;
	left: 68.056pt;
	position: absolute;
	top: 16.667pt;
	width: 41.667pt;
}
#textShape-1212-svg{
	height: 16.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 213.000pt;
}
#image-2{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 34.675pt;
	left: 20.000pt;
	position: absolute;
	top: 26.000pt;
	width: 30.000pt;
}
#image-153{
	display: block;
	height: 61.120pt;
	left: 168.000pt;
	position: absolute;
	top: 117.000pt;
	width: 64.000pt;
}
#image-160{
	-ibooks-slot: image-160;
	display: block;
}
#textShape-355-div{
	height: 115.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 200.000pt;
}
#textShape-364-svg{
	height: 60.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-154{
	-ibooks-slot: image-154;
	display: block;
}
#textShape-1023{
	-ibooks-slot: textShape-1023;
	display: block;
}
#textShape-209-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#image-161{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 61.111pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 54.167pt;
}
#textShape-363-svg{
	height: 60.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 446.000pt;
}
#image-155{
	-ibooks-slot: image-155;
	display: block;
}
#textShape-1023-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#textShape-356-div{
	height: 115.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 358.000pt;
}
#textShape-1209-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-211{
	-ibooks-slot: textShape-211;
	display: block;
}
#image-156{
	-ibooks-slot: image-156;
	display: block;
}
#frame-4{
	-ibooks-slot: frame-4;
	display: block;
}
#textShape-213{
	display: block;
	height: 40.000pt;
	left: 5.000pt;
	position: absolute;
	top: 5.000pt;
	width: 389.000pt;
}
#textShape-1210{
	display: block;
	height: 16.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 213.000pt;
}
#textShape-211-div{
	height: 115.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#image-171{
	-ibooks-slot: image-171;
	display: block;
}
#textShape-215{
	display: block;
	height: 195.000pt;
	left: 323.000pt;
	position: absolute;
	top: 50.000pt;
	width: 72.000pt;
}
#textShape-222{
	-ibooks-slot: textShape-222;
	display: block;
}
#textShape-1208{
	-ibooks-slot: textShape-1208;
	display: block;
}
#textShape-1210-div{
	height: 16.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 213.000pt;
}
#image-158{
	-ibooks-slot: image-158;
	display: block;
}
#textShape-219{
	-ibooks-slot: textShape-219;
	display: block;
}
#textShape-24-div{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-210-div{
	height: 70.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-242{
	-ibooks-slot: textShape-242;
	display: block;
}
#image-166{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 59.591pt;
	left: 124.000pt;
	position: absolute;
	top: 0.000pt;
	width: 176.000pt;
}
#textShape-240{
	-ibooks-slot: textShape-240;
	display: block;
	transform: matrix(-1,-0,0,1,0,0);
}
#textShape-189-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#textShape-1209{
	-ibooks-slot: textShape-1209;
	display: block;
}
#textShape-219-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1211{
	display: block;
	height: 16.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 213.000pt;
}
#textShape-1212{
	display: block;
	height: 16.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 213.000pt;
}
#textShape-1211-svg{
	height: 16.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 213.000pt;
}
#textShape-241-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-359-div{
	height: 27.778pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 41.667pt;
}
#textShape-189{
	-ibooks-slot: textShape-189;
	display: block;
}
#group-19-gen{
	-ibooks-slot: group-19-gen;
	display: block;
}
#textShape-1212-div{
	height: 16.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 213.000pt;
}
#textShape-355-svg{
	height: 115.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 200.000pt;
}
#textShape-242-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-356{
	-ibooks-slot: textShape-356;
	display: block;
}
#textShape-363{
	-ibooks-slot: textShape-363;
	display: block;
}
#textShape-1208-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-356-svg{
	height: 115.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 358.000pt;
}
#textShape-1209-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-1023-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#image-632{
	-ibooks-slot: image-632;
	display: block;
}
#group-18-gen{
	-ibooks-slot: group-18-gen;
	display: block;
}
#textShape-209-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#image-633{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 490.000pt;
	left: 10.000pt;
	position: absolute;
	top: 52.000pt;
	width: 213.000pt;
}
#textShape-210-svg{
	height: 70.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-189-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#image-634{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 521.000pt;
	left: 10.000pt;
	position: absolute;
	top: 52.000pt;
	width: 213.000pt;
}
#textShape-24-svg{
	height: 10.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-363-div{
	height: 60.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 446.000pt;
}
#textShape-210{
	-ibooks-slot: textShape-210;
	display: block;
}
#image-635{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 540.000pt;
	left: 10.000pt;
	position: absolute;
	top: 52.000pt;
	width: 213.000pt;
}
#textShape-212{
	display: block;
	height: 250.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 400.000pt;
}
#textShape-211-svg{
	height: 115.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-214{
	display: block;
	height: 195.000pt;
	left: 5.000pt;
	position: absolute;
	top: 50.000pt;
	width: 72.000pt;
}
#textShape-364-div{
	height: 60.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-209{
	-ibooks-slot: textShape-209;
	display: block;
}
#textShape-216{
	display: block;
	height: 195.000pt;
	left: 82.000pt;
	position: absolute;
	top: 50.000pt;
	width: 236.000pt;
}
#frame-100{
	-ibooks-slot: frame-100;
	display: block;
}
#textShape-359-svg{
	height: 27.778pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 41.667pt;
}
#textShape-1210-svg{
	height: 16.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 213.000pt;
}
#textShape-241{
	-ibooks-slot: textShape-241;
	display: block;
}
#frame-101{
	-ibooks-slot: frame-101;
	display: block;
}
#textShape-1211-div{
	height: 16.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 213.000pt;
}
#frame-102{
	-ibooks-slot: frame-102;
	display: block;
}
#textShape-219-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 800.000pt;
}
#textShape-241-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
#textShape-1208-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 50.000pt;
}
