@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-1189{
	-ibooks-line-hints: textShape-1189 p url(../hints/content75-paginated.plist) 13 1;
}
#textShape-1000{
	-ibooks-line-hints: textShape-1000 p url(../hints/content75-paginated.plist) 11 1;
}
#textShape-998{
	-ibooks-line-hints: textShape-998 p url(../hints/content75-paginated.plist) 0 10;
}
#textShape-1002{
	-ibooks-line-hints: textShape-1002 p url(../hints/content75-paginated.plist) 12 1;
}
#textShape-999{
	-ibooks-line-hints: textShape-999 p url(../hints/content75-paginated.plist) 10 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-998)
	{
		height: 360.000pt;
		left: 112.000pt;
		top: 270.000pt;
		width: 800.000pt;
		z-index: 1;
	}
	::slot(textShape-999)
	{
		height: 70.000pt;
		left: 112.000pt;
		top: 120.000pt;
		width: 800.000pt;
		z-index: 2;
	}
	::slot(textShape-1000)
	{
		height: 20.000pt;
		left: 78.000pt;
		top: 38.000pt;
		width: 800.000pt;
		z-index: 3;
	}
	::slot(frame-79)
	{
		height: 71.000pt;
		left: 5.000pt;
		top: 4.000pt;
		width: 80.000pt;
		z-index: 4;
	}
	::slot(image-513)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 30.000pt;
		left: 497.000pt;
		top: 680.000pt;
		width: 30.000pt;
		z-index: 5;
	}
	::slot(textShape-1189)
	{
		height: 100.000pt;
		left: 462.000pt;
		top: 645.000pt;
		width: 100.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-998, textShape-999, textShape-1000, frame-79, image-513, textShape-1189;
}

