@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "HiraginoSansGB-W3";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Hiragino%20Sans%20GB%20W3.otf");
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
.columnbreak{
	break-after: column;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s2{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: top;
}
.s3{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-width: 1.0000px;
	border-bottom-color: #818181;
	border-bottom-style: solid;
	border-bottom-width: 0.5000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0500em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	padding-bottom: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	vertical-align: 0.0000pt;
}
.s4{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 466.6667%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	line-height: 0.900000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s5{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #5ABEC1;
	opacity: 1.000;
	stroke: #4D4D4D;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s6{
	fill: #041932;
}
.s7{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: bottom;
}
.s8{
	vertical-align: top;
}
.s9{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 200.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s10{
	-ibooks-list-text-indent: 0.0000pt;
	color: #FFFFFF;
	font-family: "Helvetica Neue";
	font-size: 500.0000%;
	font-weight: bold;
	line-height: 0.800000em;
	text-align: center;
}
.s11{
	-ibooks-list-text-indent: 0.0000pt;
	color: #FFFFFF;
	font-family: "HiraginoSansGB-W3";
	line-height: 0.800000em;
	text-align: center;
}
.s12{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s13{
	opacity: 0.000;
}
.s14{
	vertical-align: middle;
}
.s15{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 125.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s16{
	-ibooks-list-text-indent: 0.0000pt;
	text-align: center;
}
.s17{
	fill: rgba(31,188,215,0.000000);
	stroke: #1FBCD7;
	stroke-width: 5.0pt;
}
.s18{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	page-break-before: auto;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s19{
	-ibooks-list-text-indent: 0.0000pt;
	font-size: 800.0000%;
	line-height: 1.000000em;
	text-align: center;
}
.c1{
	color: #FEC700;
	font-family: "HiraginoSansGB-W3";
}
.c2{
	color: #FEC700;
}
.c3{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #021932;
	font-family: "HiraginoSansGB-W3";
	font-size: 66.6667%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0.0000em;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.c4{
	-ibooks-underline-type: single;
	color: #4066A9;
	font-family: "Georgia";
	text-decoration: underline;
}
#textShape-709{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	display: block;
	height: 100.000pt;
	left: 300.000pt;
	position: absolute;
	top: 0.000pt;
	width: 100.000pt;
}
#image-697{
	-ibooks-slot: image-697;
	display: block;
}
#textShape-774-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#textShape-1080-div{
	height: 17.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 400.000pt;
}
#textShape-463-div{
	height: 120.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 650.000pt;
}
#group-23-gen{
	display: block;
	height: 255.000pt;
	left: 10.000pt;
	position: absolute;
	top: 33.000pt;
	width: 400.000pt;
}
#textShape-708{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	display: block;
	height: 100.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 100.000pt;
}
#textShape-713{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	display: block;
	height: 100.000pt;
	left: 300.000pt;
	position: absolute;
	top: 150.000pt;
	width: 100.000pt;
}
#textShape-712{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	display: block;
	height: 100.000pt;
	left: 150.000pt;
	position: absolute;
	top: 155.000pt;
	width: 100.000pt;
}
#textShape-1080{
	display: block;
	height: 17.000pt;
	left: 10.000pt;
	position: absolute;
	top: 10.000pt;
	width: 400.000pt;
}
#textShape-469-div{
	height: 215.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 668.000pt;
}
#textShape-774-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 100.000pt;
}
#textShape-711{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	display: block;
	height: 100.000pt;
	left: 0.000pt;
	position: absolute;
	top: 155.000pt;
	width: 100.000pt;
}
#textShape-1080-svg{
	height: 17.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 400.000pt;
}
#textShape-463-svg{
	height: 120.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 650.000pt;
}
#textShape-469{
	-ibooks-slot: textShape-469;
	display: block;
}
#textShape-463{
	-ibooks-slot: textShape-463;
	display: block;
}
#textShape-710{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	display: block;
	height: 100.000pt;
	left: 150.000pt;
	position: absolute;
	top: 0.000pt;
	width: 100.000pt;
}
#textShape-774{
	-ibooks-slot: textShape-774;
	display: block;
}
#textShape-469-svg{
	height: 215.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 668.000pt;
}
#textShape-462{
	-ibooks-slot: textShape-462;
	display: block;
}
#frame-87{
	-ibooks-slot: frame-87;
	display: block;
}
